<% title("New Profile")%>
<h1>New Slack Profile</h1>
<%= form_for @slack_profile, :url => { :controller => :profiles, :action => :create }, html: {id: 'new-profile', class: 'form-horizontal profile'} do |f| %>
  <%= render 'form', f: f %>
<% end %>
